.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.content-title {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: 'Work Sans', sans-serif;
  padding: 0 8px 32px;

  @media (min-width: 280px) and (max-width: 1024px) {
    text-align: center;
  }
}

.card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: space-between;
  justify-items: center;

  @media (min-width: 280px) and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.slide-content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 30px;
  justify-content: space-between;
  justify-items: center;
  overflow-x: hidden;
  @media (min-width: 280px) and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

.carousl-button {
  display: flex;
  position: absolute;
  right: 0;

  @media (min-width: 280px) and (max-width: 1024px) {
    display: none;
  }
}

.icon {
  width: 32px;
  margin: 0 12px;

  &:focus {
    border: 1px solid transparent;
  }
}